<div class="banner" style="background-color: rgb(241, 231, 222)">
  <div class="container banner-info row">
    <div class="text-banner col-8">
      <h1>Votre formation chez Beauty Bar Training</h1>
      <p>Formation certifié à distance ou sur place.<br>Possibilité de financement par votre CPF</p>
      <a class="button-banner" href="#">Contactez nous</a>
    </div>
    <div class="image-banner col-4">
      <%= image_tag("banner-pic") %>
    </div>
  </div>
</div>
