<%= render './shared/banner' %>
<div class="container">
  <div class="avantage">
    <div class="point">
      <i class="fas fa-check"></i>
      <h4>QUALITÉ</h4>
      <p>La qualité de nos formations est notre priorité.</p>
    </div>
    <div class="point">
      <i class="fas fa-fast-forward"></i>
      <h4>RAPIDITÉ</h4>
      <p>Pas besoin de longue formations pour etre compétent.</p>
    </div>
    <div class="point">
      <i class="fas fa-graduation-cap"></i>
      <h4>CERTIFIÉ</h4>
      <p>Toute nos formations sont certifiantes</p>
    </div>
  </div>
</div>
